<div class="container">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item mb-3">
        <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary btn-sm" %>
        <%= restaurant.name %>
      </li>
    <% end %>
  </ul>
</div>
